#mainNav {
    color: #000;
}

#id {
    color: white;
}

.font {
    font-family: 'Orbitron', sans-serif;
}

.name{
    font-size: 45px;
    font-family: 'Righteous', cursive;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
   }
 
.headshot {
    border-radius: 50%;
    width: 110%;
    height: 110%;
    padding: 0 10px 0 10px
}

#flex {
    display:flex;
    align-content: center;
    justify-content: center;
}

.lead {
    font-family: 'Work Sans', sans-serif;
}

.projects {
background-color: blue;
}

.card-body{
    background-color: black;
    height: "120px";
}

.cardTitle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

.linkList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    padding: 10px;
}