/* body {
    background-color: black;
} */

#id {
    color: white;
}
.name{
    font-family: 'Righteous', cursive;
}

.projects {
background-color: blue;
}

.card-body{
    background-color: black;
}
.cardTitle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

.linkList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li {
    padding: 10px;
}